_build
*.docx
.nextflow-console.log
.nextflow.pid

#ignore system file
.DS_Store

# ignore logs
*.nextflow.log*
 # Ignore the .nextflow directory created by Nextflow
.nextflow
work
# Ignore the training directory cloned
training
# ignore hello.nf, results and data folder
hello.nf
data
results
